* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #009900;
}
html {
    background: linear-gradient(to right, #E2FFE2, #c3f8c3)
}
#progressOuter {
    background-color: #E9E9E9;
    height: 20px;
    width: 258px;
    border: 1px solid #00E500;
    display: inline-block;
    text-align: left;
    /*for progress bar to start from the left*/
}
#progressInner {
    background-color: #009900;
    height: 10px;
    width: 0%;
    display: inline-block;
}
#timer {
    display: inline-block;
    padding-left: 5px;
    color: #4C0026;
    font-size: 24px;
}
.gameContainer {
    height: 500px;
    width: 300px;
    margin: 0 auto;
    display: none;
}
#beginning,
#ending #lvl1 {
    height: 500px;
    width: 300px;
    margin: 0 auto;
    display: block;
}
#gamePlay {
    margin: 30px 10px 30px 10px;
}
#ending,
#lvl1 {
    display: none;
}
#gameOverHeader {
    margin-bottom: 100px;
}
.innerDivsWithText {
    margin: 5px 10px;
}
h2 {
    font-size: 40px;
    text-align: center;
}
p,
li {
    font-size: 20px;
    text-align: justify;
}
button {
    margin: 5% auto;
    background-color: white;
    box-shadow: 1px 1px #009900
}
button:hover,
button:focus,
button:active,
button:focus:active {
    padding: 10px;
    box-shadow: 2px 2px #009900;
    outline: none;
}
#enterLevel1Button,
#beginGameButton,
#tryAgain{
    font-size: 30px;
    display: block;
    margin: 0 auto;
 border: 1px solid #004C00;
}
#lvl1LessonFirstButton {
    font-size: 50px;
}
#pronounciationWrapper,
#lvl1LessonWrapper {
    display: none;
    z-index: 1;
    top: 0;
    height: 500px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    overflow: auto;
}
#pronounciation,
#lvl1LessonInternal {
    background-color: white;
    margin: 10% auto;
    border: 1px solid #004C00;
    top: 0;
    z-index: 2;
    opacity: 1;
    height: 500px;
}
td,
th,
table {
    border: 1px solid #004C00;
    margin: 0 auto;
}
.tableDiv {
    display: none;
    margin: 0 auto;
}
.closePronounciation,
.closelvl1Lesson {
    color: white;
    background-color: #4C0026;
    text-align: center;
    float: right;
    font-size: 42px;
    font-weight: bold;
    border: 1px solid #004C00;
}
/*hover doesn't work on mobile*/

.likeIn {
    color: #4C0026;
}
#upperArea {
    height: 50%;
}
#lowerArea {
    height: 50%;
}
#inbetweenQuestions {
    height: 50%;
    display: none;
    padding-top: 20px;
}
#victory {
    height: 50%;
    display: none;
}
#ulAnswers {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    height: 100%;
    width: 100%;
}
#ulAnswers > li {
    display: inline;
}
.booleanChecker,
.blankButton,
.pronounciationButtons,
.lvl1LessonButton,
.pronounciationButton,
.questionToggler {
    margin: 5%;
    display: inline-block;
    border: 1px solid #004C00;
    font-size: 28px;
    padding: 5px;
}
.blankButton,
{
    margin: 2%;
}
.questionToggler,
{
    font-size: 15px;
}
.pronounciationButton,
.lvl1LessonButton {
    font-size: 12px;
}
.pronounciationButtons {
    height: 15%;
    font-size: 15px;
    margin: 2%;
}
#esperanto,
#english,
#inbetweenQuestions,
#victory,
#pronounciation #lvl1 {
    padding-left: 10px;
    margin: 0 auto;
}
#pronounciation {
    margin-top: 50px;
}
ul {
    list-style-position: inside;
}
a {
    text-align: center;
    margin-bottom: 10px;
}
td,
th {
    font-size: 20px;
}
.sentences {
    padding-top: 50px;
    font-size: 24px;
}

#gamePlay > ol{
    list-style-type:  none;
    display:  table-cell;
}
#gamePlay > ol >li{
    text-align:  center;
}
