html{
background-color: red;

}
#progressOuter{
  background-color: #E9E9E9;
  height: 20px;
  width:  258px;
  border:  1px solid #00E500;
  display:  inline-block;
}

#progressInner{
background-color: #009900;
height:  10px;
width:  0%;
display:  inline-block  ;
}
#timer{
display:  inline-block;
padding-left:  5px;
background-color: blue;
}
.container{
  height:  500px;
  width:  300px;
  margin:  0 auto;
  background-color: orange;
  display:  none;
}
#beginning{
  background-color: purple;
  height:  500px;
  width:  300px;
  margin:  0 auto;
  display:  block;
}
#ending{
  background-color: purple;
  height:  500px;
  width:  300px;
  margin:  0 auto;
  display:  none;
}
#pronounciation{
  background-color: purple;
  width:  300px;
  margin:  0 auto;
  display:  none;
}

td,th,table{
  border:  1px solid black;
}
table{
  display:  none;
}

.likeIn{
  color:  red;
}
#upperArea{
  background-color:  yellow;
  height: 50% ;
}
#lowerArea{
  background-color:  grey;
  height:  50%;
}
#inbetweenQuestions{
  background-color:  grey;
  height:  50%;
  display:  none;
}
#victory{
  background-color:  grey;
  height:  50%;
  display:  none;
}
ul{
  list-style-type: none;
  margin:  0;
  padding-top:  30px;
  height:  100%;
  width:  100%;
}
li{
    display:  inline;
}
button{
  height:  33%;
  width:  33%;
  margin:  10px;
  display:  inline;
  border:  1px solid black;
}

#esperanto, #english, #beginning, #inbetweenQuestions, #victory, #alphabet{
  padding-left:  20px;
}

